<section class="border rounded-md w-full max-w-lg">
  <h1>New building</h1>

  <%= form_with model: @building, data: { controller: "fields" } do |form| %>
    <% if @building.errors.any? %>
      <output class="text-red-500">
        <h2><%= pluralize(@building.errors.count, "error") %> prohibited this Building from being saved:</h2>

        <ul>
          <% @building.errors.each do |error| %>
            <li><%= error.full_message %></li>
            <% end %>
        </ul>
      </output>
    <% end %>

    <%= field_set_tag "Describe the building" do %>
      <%= form.label :building_type %>
      <%= form.select :building_type, {}, {}, autocomplete: "off", data: { action: "change->fields#expand" } do %>
        <% Building.building_types.keys.each do |value| %>
          <%= tag.option value.humanize, value: value,
                         aria: { controls: form.field_id(:building_type, value, :fieldset) } %>
        <% end %>
      <% end %>
    <% end %>

    <%= field_set_tag "Leased", id: form.field_id(:building_type, :leased, :fieldset), name: form.field_name(:building_type), class: "disabled:hidden", disabled: !@building.leased? do %>
      <%= form.label :management_phone_number %>
      <%= form.telephone_field :management_phone_number %>
    <% end %>

    <%= field_set_tag "Other", id: form.field_id(:building_type, :other, :fieldset), name: form.field_name(:building_type), class: "disabled:hidden", disabled: !@building.other? do %>
      <%= form.label :building_type_description %>
      <%= form.text_field :building_type_description %>
    <% end %>

    <%= field_set_tag "Address", class: "flex flex-col gap-2" do %>
      <div class="contents" data-controller="element">
        <%= form.label :country %>
        <%= form.select :country, @building.countries.invert, {}, data: { action: "change->element#click" } %>
        <input type="submit" formmethod="get" formaction="<%= new_building_path %>" hidden
               data-element-target="click" data-turbo-frame="<%= form.field_id(:state, :turbo_frame) %>">
      </div>

      <%= form.label :line_1 %>
      <%= form.text_field :line_1 %>

      <%= form.label :line_2 %>
      <%= form.text_field :line_2 %>

      <%= form.label :city %>
      <%= form.text_field :city %>

      <turbo-frame id="<%= form.field_id(:state, :turbo_frame) %>">
      <% if @building.states.any? %>
        <%= form.label :state %>
        <%= form.select :state, @building.states.invert %>
      <% end %>
      </turbo-frame>

      <%= form.label :postal_code %>
      <%= form.text_field :postal_code %>
    <% end %>

    <%= form.button %>
  <% end %>
</section>
